# Servidor
PORT=4000
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=medicita_db
DB_USER=medicita
DB_PASSWORD=Medicita2026!

# JWT
JWT_SECRET=MediCita2026_SuperSecretoJWT_CambiarEnProduccion
JWT_EXPIRES_IN=8h

# CORS — URL del frontend
FRONTEND_URL=http://localhost:5173
